.wrapper {
  width: 50%;
  background-color: aliceblue;
  margin: auto;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.558);
  opacity: 0.9;
  transition: 0.3s ease-out;
}

.wrapper:hover {
  scale: 1.05;
  opacity: 1;
}

.title {
  margin-bottom: 2rem;
  font-weight: bolder;
  font-size: x-large;
  text-transform: capitalize;
}

.description {
}
