.wrapper {
  position: relative;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigation-arrows {
  position: absolute;
  width: 90%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 100;
}

.search {
  width: 20%;
  background-color: white;
}

.left-arrow {
  height: 8vh;
  transition: 0.2s;
}

.right-arrow {
  height: 8vh;
  transition: 0.2s;
}

.left-arrow:active {
  scale: 0.7;
}

.right-arrow:active {
  scale: 0.7;
}

.save-button {
  background-color: white;
  border-radius: 0.25rem;
  height: 2rem;
  width: 2rem;
  padding: 0.5rem;
  cursor: pointer;
  transition: 0.4s;
  margin-left: 0.5rem;
}

.save-button:hover {
  scale: 0.9;
}

.save-button-active {
  background-color: rgb(187, 139, 50);
}

.filters {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  width: 70%;
}

@media only screen and (max-width: 768px) {
  .navigation-arrows {
    top: 73vh;
  }

  .search {
    width: 70%;
  }

  .filters {
    width: 90%;
  }
}
