.wrapper {
  position: relative;
  height: 70vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navigation-arrows {
  position: absolute;
  width: 90%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 100;
}

.left-arrow {
  height: 8vh;
  transition: 0.2s;
}

.right-arrow {
  height: 8vh;
  transition: 0.2s;
}

.left-arrow:active {
  scale: 0.7;
}

.right-arrow:active {
  scale: 0.7;
}

@media only screen and (max-width: 768px) {
  .navigation-arrows {
    top: 70vh;
  }
}
