.wrapper {
  position: relative;
  height: 70vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navigation-arrows {
  width: 10%;
  margin: 2rem;
  transition: 0.2s;
}

.navigation-arrows:active {
  scale: 0.7;
}
