.wrapper {
  background-color: aliceblue;
  border-radius: 1rem;
  width: 80%;
  margin: auto;
  padding: 1em;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.375);
}

.personal-info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: bisque;
  width: 70%;
  margin: auto;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.375);
  margin-bottom: 2rem;
}

.text {
  margin: 0.5rem;
  background-color: aliceblue;
  width: 50%;
  text-align: start;
  border-radius: 1rem;
  padding: 0.2rem;
  padding-left: 1rem;
}

.show-recipes-button {
  background-color: rgb(254, 187, 30);
  padding: 1rem;
  border-radius: 1rem;
  margin: auto;
  opacity: 0.5;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.388);
  border: 1px solid rgb(208, 153, 24);
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.show-recipes-button:hover {
  opacity: 1;
}
