.wrapper {
  width: 60%;
  background-color: aliceblue;
  margin: auto;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.558);
  opacity: 0.85;
  transition: 0.3s ease-out;
}

.wrapper:hover {
  opacity: 1;
}

.wrapper:hover .title {
  scale: 1.05;
}

.title {
  margin-bottom: 2rem;
  font-weight: bolder;
  font-size: x-large;
  text-transform: capitalize;
  transition: 0.3s;
}

.description {
}

@media only screen and (max-width: 900px) {
  .wrapper {
    width: 50%;
  }
}
